name: example
description: A demo for hyper_snackbar.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  hyper_snackbar:
    path: ../
  go_router: ^17.0.1