name: hyper_snackbar
description: A highly customizable and animated snackbar package for Flutter.
version: 0.0.3
homepage: https://github.com/MakiAno/hyper_snackbar

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0